server:
  port: 8083

spring:
  application:
    name: statistique-service
  config:
    import: optional:configserver:http://localhost:8888
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb+srv://imad:4444qqqq@cluster0.aqwy2gi.mongodb.net/statistique_db?retryWrites=true&w=majority&appName=Cluster0}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

youtube:
  api:
    key: ${YOUTUBE_API_KEY:YOUR_YOUTUBE_API_KEY}
    base-url: https://www.googleapis.com/youtube/v3
